venv/
env/
.venv/
.env/

*.env
*.env.*

__pycache__/
*.py[cod]
*$py.class

*.log

*.sqlite3
*.db

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.iml
*.ipr
*.iws
out/

.pytest_cache/

pip-wheel-metadata/
*.egg-info/
dist/
build/
__pypackages__/

poetry.lock
Pipfile.lock

.ipynb_checkpoints/

htmlcov/
.coverage
.tox/
.nox/
.cache/

*.bak
*.tmp

scripts_docker.txt
